{% extends 'base.html' %}
{% block title %}
A/B testing
{% endblock %}
{% block content %}
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-dark" style="color:white">
    <div>
        <form action="http://localhost:5000/result" method="POST">
            <p>sample1 <input type="text" name="s1" maxlength="10000" size="100"
                              value="11.17,10.13,10.61,8.61,11.77,9.05,9.93,9.54,8.92,10.15,9.67,9.94,10.03,10.59,9.27"/>
            </p>
            <p>sample2 <input type="text" name="s2" maxlength="10000" size="100"
                              value="50.71,48.77,50.91,50.68,50.79,48.86,50.5,51.08,49.66,49.39,49.41,52.24,48.85,49.86,49.27"/>
            </p>
            <input type="submit" value="submit"/>
        </form>

    </div>
    <div class="product-device box-shadow d-none d-md-block">
        {% if show_result %}
        <div class="center">
            <h5 class="center">A/B testing result</h5>
            <table border=1 width="39%" align="center" margin-left="auto" margin-right="auto">
                <tr>
                    <th width="20%"></th>
                    <th width="20%">sample1</th>
                    <th width="20%">sample2</th>
                </tr>
                {% for key, value in result.items() %}
                <tr>
                    <td> {{ key }}</td>
                    <td> {{ value[0] }}</td>
                    <td> {{ value[1] }}</td>
                </tr>
                {% endfor %}
            </table>
            <br>
            <img width="30%" src="data:image/png;base64,{{ plot_url }}">
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}

.center {
margin: auto;
width: 60%;
border: 5px solid #FFFF00;
padding: 10px;
}